*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #fff;
    box-shadow: 0 5px 20px rgba(0,41,112,.1);
    align-items: center;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 35px;
    font-weight: 600;
    color: #000;
    font-size: 17px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    align-items: center;
}
.bt-1{
    font-size: 17px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    color: white;
    font-weight: 600px;
    background-color: #00baf2;
    border: none;
    border-radius: 24px;
    text-align: center;
    padding: 8px;
    padding-left: 20px;
    padding-right: 55px;
    position: relative;
    top: 18px;


}
.circle{
    background-color: #002970;
    padding: 10px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    position: relative;
    top: -18px;
    left: 95px;
}
.info{
    background-image: linear-gradient( #0246ab , #03abf4);
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 12px;
}
.text{
    color: #fff;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}
.info-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:350px;
    position: relative;
    top: -8x;
    
}
.personal-info{
    display: flex;
    flex-direction: column;
}
.txt{
    background-color: #000;
    color: #fff;
    font-size: .7rem;
    border-radius: 3px;
    width: 70px;
    justify-content: center;
    align-items: center;
    
}
.app-only{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 514px;
}
.info-2{
    color: #fff;
    font-weight: 600;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 30px;
}
.content{
    display: flex;
    flex-direction: column;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    font-weight: 700;
    font-size: 1.1rem;

    

}
.cont-1{
    padding: 10px 20px 15px;
}
.cont-2{
    display: flex;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    justify-content: center;
    padding-bottom : 30px;

}
.box{
    display: flex;
    flex-direction: column;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    font-size: .8rem;
    font-weight: 600;
    gap: 10px;
    align-items: center;
    width: 150px;

}
.box-1{



    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
    
}
.br{
    color: #000;
    border: 1px solid ;
}
.drop{
    position: relative;
    top: -10px;
    left: 50px;
}
.content-1{
    display: flex;
    flex-direction: column;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    font-weight: 700;
    font-size: 1.1rem;

}



